# Vultr Serverless Inference
VULTR_API_KEY=
VULTR_MODEL=llama-3.1-70b-instruct-fp8  # Optional: defaults to llama-3.1-70b-instruct-fp8

# ElevenLabs
ELEVENLABS_API_KEY=
ELEVENLABS_VOICE_ID=

# MongoDB
MONGODB_URI=mongodb://localhost:27017
MONGODB_DATABASE=customer_service
MONGODB_COLLECTION=knowledge_base

# Authentication Module
AUTH_MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/?retryWrites=true&w=majority
AUTH_DATABASE_NAME=access_control
AUTH_COLLECTION_NAME=users
AUTH_VECTOR_INDEX_NAME=face_vector_index
FACE_SIMILARITY_THRESHOLD=0.6
